@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Rock+Salt&display=swap');

:root {
  font: 16px / 1 sans-serif;
  --text-color: #39395f;
  --header-color: #a9c25d;
  --background-color: #a9c25d;
  --icon-background-color: #f5eec2;
  --section-background-color: rgb(207, 209, 216);
  --hover-background-color: #73a24e;
  --active-background-color: #416a59;
  --border-color: thin solid #444444;
  --header-font: 'Rock Salt', cursive;
}

html {
  height: auto;
}

body {
  margin: 0;
  min-height: auto;
  max-height: fit-content;
  min-width: fit-content;
  max-width: fit-content;
  color: var(--text-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: var(--text-color);
}

header {
  display: flex;
  justify-content: center;
  font-family: var(--header-font);
  color: var(--header-color);
  font-size: 20px;
  background-color: var(--text-color);
}

aside {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-top: auto;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: var(--icon-background-color);
  border: var(--border-color);
  border-radius: 0.5rem;
  width: 40px;
  height: 40px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--background-color);
  padding-top: 1rem;
  border-radius: 0.5rem;
}

section .player1,
section .player2 {
  min-width: 8rem;
  border: var(--border-color);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding-bottom: 8px;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--section-background-color);
}

section h2 {
  margin-bottom: -5px;
}

section h2,
section p {
  text-align: center;
  font-size: 14px;
}

section h3 {
  margin: 1rem 0;
  font-size: 25px;
}

.rock,
.paper,
.scissors,
.lizard,
.spock {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.rock,
.paper,
.scissors,
.lizard,
.spock {
  cursor: pointer;
  color: var(--text-color);
}

.rock:hover,
.paper:hover,
.scissors:hover,
.lizard:hover,
.spock:hover {
  background-color: var(--hover-background-color);
}

.rock:active,
.paper:active,
.scissors:active,
.lizard:active,
.spock:active {
  background-color: var(--active-background-color);
}

.winner {
  background-color: rgb(153, 255, 0);
  font-size: 3rem;
  font-family: 'ZCOOL KuaiLe', cursive;
  padding: 1rem;
  padding-left: 8.25rem;
  text-decoration: underline;
  border: black solid 0.5rem;
}

footer {
  text-align: center;
  font-size: small;
  padding-left: 5px;
  padding-top: 5px;
}

.attribution {
  font-size: smaller;
}
