@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Rock+Salt&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css');
:root {
  font: 16px / 1 sans-serif;
}
html {
  height: auto;
}
body {
  margin: 0;
  min-height: fit-content;
  max-height: fit-content;
  min-width: fit-content;
  max-width: fit-content;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

header {
  display: flex;
  justify-content: center;
  /* font-family: 'Finger Paint', cursive; */
  font-family: 'Rock Salt', cursive;
  color: rgb(236, 215, 208);
  font-size: 30px;
  background-color: rgb(10, 15, 33);
  border-radius: 0.5rem;
}
aside {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  border-radius: 0.3rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-top: 2px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
  background-color: rgb(242, 238, 236);
  border: thin solid #444444;
  border-radius: 0.3rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(236, 215, 208);
  padding-top: 1rem;
  border-radius: 0.5rem;
}

section {
  min-width: 10rem;
  border: thin solid #444444;
  border-radius: 0.3rem;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(207, 209, 216);
}

section h2,
section p {
  text-align: center;
}

section h3 {
  margin: 1rem 0;
  font-size: 2rem;
}

.rock,
.paper,
.scissors {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.rock,
.paper,
.scissors,
.reset {
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.rock:hover,
.paper:hover,
.scissors:hover,
.reset:hover {
  color: rgb(178, 234, 178);
}

.rock:active,
.paper:active,
.scissors:active,
.reset:active {
  color: rgb(232, 96, 51);
  padding: 1px;
}
